<ion-header> 
  <ion-toolbar color="warning">
    <center><ion-title>Management</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          Queries?
      </ion-col>

      <ion-col>
        <center>
          <ion-button target="_blank" href="https://www.google.com/maps/place/Hughes's+SuperValu+Claregalway/@53.3406448,-8.9490458,17z/data=!3m1!4b1!4m5!3m4!1s0x485b9241f6dd1665:0xe07085ce0fffeaa4!8m2!3d53.3406448!4d-8.9468571"><ion-icon name="location-outline"></ion-icon> CLick to visit location  <ion-icon name="location-outline"></ion-icon></ion-button>
        </center>
      </ion-col>

      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>        
</ion-content>


<ion-footer>
  <ion-toolbar color="warning">
    <ion-grid>
      <ion-row>
        <ion-col>
          <center><ion-button color="light" (click)="home()"><ion-icon name="home-outline"></ion-icon></ion-button> </center>
        </ion-col>       
     </ion-row>
    
    </ion-grid>
  </ion-toolbar>
</ion-footer> 